#content {
    b {
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
        font-weight: 900;
    }
    p {
        margin-bottom: 50px;
    }
    ul {
        margin-bottom: 30px;
        margin-top: -25px;
    }
}